* {
    box-sizing: border-box;
    min-width: 0; /* Because flex items do not shrink by default*/
    min-height: 0; /* overflow hidden is not included because it breaks a lot of things idk */

    --secondHalfBackground: rgb(35, 31, 32);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    min-height: 100vh;
}

.bodySection {
    width: 100vw;
}

@font-face {
    font-family: anton;
    src: url(fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Black.ttf);
}

@font-face {
    font-family: gotham;
    src: url(fonts/GOTHAM-BLACK.TTF);
}

@font-face {
    font-family: hammersmith;
    src: url(fonts/HammersmithOne-Regular.ttf);
}

@font-face {
    font-family: neoSansBlack;
    src: url(fonts/NeoSansBlack.otf);
}

@font-face {
    font-family: neoSans;
    src: url(fonts/NeoSansegular.otf);
}