#javaSection {
    padding: 5%;
    font-family: neoSans;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#javaSection p {
    margin: 0;
    font-size: 0.8em;
}

#widcwdjnwqd1 {
    flex: 0;

    display: flex;
    justify-content: space-around;
}

#widcwdjnwqd1 .iefhweifwefh {
    aspect-ratio: 3/4;
}

.wef28fh2 {
    flex: 1;
    max-width: 25%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iefhweifwefh {
    max-width: 100%;
    aspect-ratio: 2/3;
    overflow-x: hidden;
    overflow-y: hidden;
}

.iefhweifwefh img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hgf8f :nth-child(1) {
    font-family: neoSansBlack;
    font-size: 1.2em !important;
}

#javarant {
    margin-top: 5%;
    font-size: 1.2em;
    letter-spacing: 2px;
    
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

#somuchjavatext {
    flex: 2;
    letter-spacing: 2px;
}