#tablesSection {
    background-color: rgb(35, 31, 32);
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#tablesSection h1 {
    font-family: gotham;
    font-size: min(8vw, 8vh);
}

#table {
    font-family: hammersmith;
    font-size: min(5vw, 5vh);
    width: 50%;
    margin: 20px;
}

#table li + li {
    margin-top: 20px;
}

#tableimage {
    position: absolute;
    align-self: flex-end;
    right: max(0px, calc((90vw - 669px)/2 - 334.5px));
}

#table li:hover {
    cursor: pointer;
    
}