#kalimantanSection {
    padding: 5%;
    font-family: neoSans;
    background-color: var(--brightWhite);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#kalimantanSection h1 {
    font-size: 2em;
    margin-bottom: 5%;
}

#alreadyintokalimantanrant {
    display: flex;
    min-height: 0;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 5%;

    gap: 5%;
    align-items: center;
}

.kalimantanDisplay {
    flex: 1;
    max-width: 35%;
}

.kalimantanDisplay .displayContainer img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

#kalimantanRant {
    flex: 1;
    color: var(--darkBlack);
    font-size: 1.3em;
    padding-bottom: 10%;
}

#kalimantanGallery {
    display: flex;
    gap: 5%;
}