#welcomeSection {
    height: 100vh;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

    display: flex;
}

#titleDiv {
    flex: 2;
    height: 100%;
    padding: 20px;
    font-size: 17vh;
    font-family: anton, lato, sans-serif;
    letter-spacing: -0.5vh;

    display: flex;
    align-items: last baseline;
}

#titleDiv {
    position: relative;
    bottom: 1.5em;
    line-height: 1;
}
#subtextArea {
    font-family: gotham;
    flex: 1.5;
    padding: 20;
    height: 50%;
    align-self: flex-end;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

#discoverText {
    letter-spacing: 3px;
    font-size: min(7vw, 7vh);
}

#subtext {
    font-size: min(5vw, 5vh);
}

#orderButton {
    font-size: min(3vw, 3vh);
    padding: 10px 20px;
    border: 1px solid white;
    align-self: start;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    transition: 250ms;
    background-attachment: fixed;

    border-radius: calc(10px + 1em);
    cursor: pointer;
}

#orderButton:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(133, 143, 47);
}